body {background: #34495E url(../imagenes/pruebafondo.png) no-repeat fixed center;
}

header {display: flex;  justify-content: space-around;
flex-wrap: wrap; background-color: #F4ECF7;}
.imagenlogo { width: 60px; position: relative; top: 10px;}
.tituloprincipal {color: #1A5276; background-color: #F4ECF7; font-family: verdana; font-size: xx-large;
   text-decoration: underline; text-align: center;}
.redes {background-color:#34495E; position: relative; height: 30px; top: 20px;
  justify-content: space-around; }
.whatsappheader {width: 20px; position: relative; top: 5px; right: 2px;}
.instagramheader {width: 20px; position: relative; top:5px; left: 2px;}
.facebookheader {width: 20px; position: relative; top: 5px;}

nav {background-color: #F4ECF7; font-family: verdana;font-size: small;
 text-align: center; }
aside {background-color: #F4ECF7;
border: 3px black solid; align-items: center;}

.IMAGENTORTA {
 width: 380px;
 height: 300px;
 position: relative;
left: 480px;
}

.tituloreceta {color: #1A5276; font-family: Verdana; font-size: large;
text-decoration: underline; text-align: center;}
.listaingredientes  {text-align: center;
}
.listaingredientes ul {
	text-align: left;
	display: inline-block;
}
.listaingredientes ol {
  text-align: left;
  display: inline-block;
}
.listaingredientes {color: black; font-family: Verdana; font-size: small;}

.cuerpotexto {color: black; font-family: verdana; font-size: small; align-items: center;
 text-align: center;}

footer { display: flex; justify-content: center; justify-content: space-between;
flex-wrap: wrap; background-color:#34495E;}
.mapa {width: 120px; position: relative; left: 108px; top: 0px;}
.redesfooter {background-color: #34495E;
  justify-content: space-around; position: relative;}
.whatsappfooter {width: 40px; position: relative; top: 40px;}
.instagramfooter {width: 40px; position: relative; top: 40px;}
.facebookfooter {width: 40px; position: relative; top: 40px;}
.infopersonal {background-color: #34495E; width: 140px;
   position: relative; right: 140px; top: 0px}
.informacion {color: white; font-family: Verdana; text-align: center;
font-size: small}
.textoinfo {color: white; font-family: Verdana; text-align: center;
font-size: small;}


.iconowhatsapp {width: 30px;
position: fixed;
bottom: 10px;
right: 15px;}
